.full-page-center-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.signup-container {
  width: 70vw;
  padding: 10px;
}

.signup-company-logo {
  width: 100%;
}
