.navbar {
  font-family: sans-serif !important;
  background-color: var(--navbar-color) !important;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: calc(100% - 200px);
  min-height: 60px;
  max-height: 60px;
  z-index: 1;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.mobile-logo-container {
  display: none;
}

.navbar-logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  padding: 0 15px;
}

.navbar.full {
  width: 100%;
}

.navbar > .container-fluid {
  background-color: var(--navbar-color) !important;
  max-height: 53px;
}

.navbar-title-container {
  display: flex;
  height: 32px;
  align-items: center;
}

.dropdown.user {
  min-width: 162px;
}

.dropdown-menu li {
  font-size: 13px;
}

.navbar-title {
  font-size: 13px;
  margin: 0px;
  color: var(--navbar-text-color);
}

.nav-icon {
  color: var(--navbar-icon-color) !important;
}

.nav-icon.globe {
  color: var(--primary-color) !important;
}

.nav-icon.chevron {
  margin-left: 2px;
  width: 8px;
  color: #5f5f5f !important;
  stroke-width: 5px;
}

.nav.navbar-nav {
  margin-left: 10px;
  width: 100%;
  justify-content: space-between;
}

.nav-link + .dropdown-menu {
  font-size: 12px;
}
